/* Ensures the main React root element takes full viewport height and arranges its content vertically */
#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

/* Ensure the main content takes the full height */
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}


