<IfModule mod_rewrite.c>
RewriteEngine On

# Vérifie si la requête ne pointe pas vers un fichier ou un dossier existant
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Réécrit toutes les requêtes vers index.php
RewriteRule ^(.*)$ index.php?$1 [L,QSA]
</IfModule>

# Autoriser CORS pour les requêtes API
<IfModule mod_headers.c>
    Header set Access-Control-Allow-Origin "http://localhost:5173"
    Header set Access-Control-Allow-Credentials "true"
    Header set Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS"
    Header set Access-Control-Allow-Headers "Content-Type, Authorization"
</IfModule>

